<!-- <h3>Ordered</h3>
<ul>
  <li ng-repeat="order in orderedDishes">
    {{order.dish.title}}
    <button ng-click="startCooking(order)">Start</button>
  </li>
</ul>

<h3>Cooking</h3>
<ul>
  <li ng-repeat="order in cookingDishes">
    {{order.dish.title}} - {{order.status}}
    <button ng-click="finishCooking(order)">Finish</button>
  </li>
</ul> -->
<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Drone Cafe Kitchen</a></div>
</nav>

<div class="section" style="flex: 1 0 auto;">
  <div class="row">

    <div class="col s6">
      <h3>Ordered</h3>
      <ul class="collection">
        <li ng-repeat="order in orderedDishes" class="collection-item">
          <div style="font-size:14px;">
            <div style="font-size: 14px;width:80%;display:inline-block;">{{order.dish.title}}</div>
            <a class="secondary-content">
              <button ng-click="startCooking(order)">Start</button>
            </a>
          </div>
        </li>
      </ul>
    </div>

    <div class="col s6">
      <h3>Cooking</h3>
      <ul class="collection with-header">
        <li ng-repeat="order in cookingDishes" class="collection-item">
          <div style="font-size:14px;">
            <div style="font-size: 14px;width:80%;display:inline-block;">{{order.dish.title}}</div>
            <a class="secondary-content">
              <button ng-click="finishCooking(order)">Finish</button>
            </a>
          </div>
        </li>
      </ul>
    </div>

  </div>
</div>

<footer class="page-footer orange" style="padding-top:0;">
  <div class="footer-copyright">
    <div class="container">
      Made by Alexey Belousov
    </div>
  </div>
</footer>
